/* Stylings for the latest post container displayed on the homepage. */

.latest-wrapper {
    margin: 5rem 0rem;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.85);
}

.latest-image {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.latest-title {
    font-size: 4rem;
    padding: 2rem 5rem;
}

.latest-content {
    font-size: 1.5rem;
    padding: 2rem 5rem;
    text-align: start;
    margin-bottom: 5rem;
}

.latest-timestamp {
    font-size: 0.7rem;
    padding: 1rem;
}

.latest-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.latest-button {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}