/* Stylings for the footer component and footer element. */

footer {
    height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-notice {
    font-size: 0.8rem;
}